#root {
  @include div-100;
  .layout {
    @include div-100;
    @include flex-justify-align(center, center, column);
    .content {
      @include div-100;
      flex: 1;
      .site-layout-content {
        background-color: $content-background-color;
        overflow: auto;
      }
    }
  }
}
